html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
 overflow: hidden;
}
::selection {
  color: var(--color-casting-sea);
  background-color: var(--color-pale-red);
}
html {
  font-size: 16px;
  font-family: var(--font-family-Monarch);
}
