html,
body {
  width: 100svw;
  height: 100svh;
  line-height: 1;
 
}
::selection {
  color: var(--color-casting-sea);
  background-color: var(--color-pale-red);
}
html {
  font-size: 16px;
  font-family: var(--font-family-Monarch);
}
body{
  &.no-scroll{
    overflow: hidden;
  }
}

.container{
  width: 100svw;
  height: 300svh;
}

.canvas{
  position: fixed;
  inset: 0;
}


$colors:(blue, black, red, blue, black, red,  blue, black,blue, black, red, blue, black, red,  blue, black);

@for $i from 2 through length($colors) {
  .container:nth-child(#{$i}) {background-color:nth($colors, $i)};
}